<div class="alert alert-info pagination-centered">
  <strong>You are successfully logged out!</strong> 
</div>
<p class=" pagination-centered"> Your Instagram session is still active please follow <a href="http://instagram.com/accounts/logout/" target="_blank"> this link </a> to logout from instagram or you can go back to <a href="<%= root_url %>"> homepage </a></p>